<a href="#" class="uk-button uk-button-link uk-icon tm-back"><span uk-icon="icon: chevron-left; "></span>Back</a>

<div id="edit_form">
    <div class="uk-child-width-expand@s uk-margin-small-top uk-flex-top" uk-grid>
        <div>
            <div class="uk-flex uk-flex-wrap ">
                <div class="uk-width-1-1">
                    <h2 class="uk-h3">Manage Executives</h2>
                </div>
                <div class="uk-width-1-1">
                    <ul class="uk-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="uk-disabled"><a href="#">Executives</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>

    <div class="uk-child-width-expand@s uk-margin-small-top uk-flex-middle" uk-grid>

        <div class="uk-width-expand">
            <div class="uk-child-width-expand@s" uk-grid>
                <div class="uk-button-group uk-width-auto">
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"><span
                                uk-icon="icon: list"></span>&ensp;<span id="selected-articles-status">All</span></button>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-active" onclick="selectStatus(this)"><a href="#" data-unlink>All</a></li>
                                <li onclick="selectStatus(this)"><a href="#" data-unlink>Published</a></li>
                                <li onclick="selectStatus(this)"><a href="#" data-unlink>Draft</a></li>
                                <li onclick="selectStatus(this)"><a href="#" data-unlink>Trash</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand">
                    <form class="uk-search uk-search-default uk-width-5-6">
                        <span uk-search-icon></span>
                        <input class="uk-search-input uk-flex-wrap-stretch" id="search" type="search"
                               placeholder="Search...">
                    </form>
                </div>
            </div>
        </div>

        <div class="uk-width-auto">
            <a href="#executives/new">
                <button class="uk-button uk-button-primary uk-icon uk-align-right uk-margin-auto-vertical"><span
                        uk-icon="icon: plus; "></span> New Executive
                </button>
            </a>
        </div>


    </div>
    <hr class="uk-divider-icon">

    <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive" id="all_executive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <ul class="uk-pagination uk-flex-center uk-margin-medium-top" uk-margin>
        <li><a href="#"><span uk-pagination-previous></span></a></li>
        <li class="uk-active"><a href="#">1</a></li>
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><span>7</span></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul>
</div>

<!--update form-->
<div id="update_form" style="display: none">
    <form class="uk-form-stacked" id="executive_form_edit" enctype="multipart/form-data">
        <div class="">
            <label id="img_container" for="file-input" class="uk-card uk-card-default uk-height-medium uk-display-block uk-width-medium" data-cropzee="file-input">

            </label>
            <div class="uk-margin">
                <div uk-form-custom>
                    <input id="file-input" name="file-input" type="file">
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Add Photo</button>
                    <div id="file-input-button" class="uk-width-1-1 uk-height-1-1 uk-position-absolute uk-position-z-index uk-position-top-left cursor-pointer"></div>
                </div>
            </div>
            
        </div>

        <div class="uk-child-width-expand@s uk-margin-medium-top" uk-grid>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">First Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="first_name" name="first_name_edit" type="text" placeholder="First Name">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">Middle Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="middle_name" name="middle_name_edit" type="text" placeholder="Middle Name">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">Last Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="last_name" name="last_name_edit" type="text" placeholder="Last Name">
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-child-width-expand@s uk-margin-medium-top" uk-grid>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">Title</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="title" name="title_edit" type="text" placeholder="Title">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-margins">
                    <label for="resume-input" class="uk-form-label">Resume</label>
                    <div uk-form-custom>
                        <input id="resume-input" name="resume-input" type="file">
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload Resume</button>
                        <label for="resume-input" class="uk-width-1-1 uk-height-1-1 uk-position-absolute uk-position-z-index uk-position-top-left cursor-pointer"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-child-width-expand@s uk-margin-medium-top" uk-grid>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">Phone</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="phone" name="phone_edit" type="tel" placeholder="Phone">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">Email</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="email" name="email_edit" type="text" placeholder="Email">
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-child-width-expand@s uk-margin-medium-top" uk-grid>
            <div>
                <div class="uk-margins">
                    <label class="uk-form-label">Bio</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="bio" name="bio_edit" rows="8" placeholder="Bio"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="uk-h4 uk-margin-remove-bottom">Social Media</h4>
        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-margins" id="platform_div">
                    <label class="uk-form-label">Platform</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="platform" type="text" placeholder="Platform">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-margins" id="social_div">
                    <label class="uk-form-label">Username/ID</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="user_name" type="text" placeholder="Username">
                    </div>
                </div>
            </div>
        </div>
        <p class="uk-text-right">
            <button id="add_social" type="button" onclick="addSocial(this);" class="uk-button uk-button-default">Add <span uk-icon="icon: plus; ratio: 0.8"></span></button>
        </p>

        <div class="uk-margin-large-bottom"><br /></div>

        <input name="edit_executive" type="hidden" value="1">
        <input name="executive_id" id="executive_id" type="hidden">
        <input name="user_names" id="user_name" type="hidden">
        <input name="platforms" id="platform" type="hidden">
        <input type="hidden" id="resumes" name="resumes">
        <input type="hidden" id="photos" name="photos">



        <div class="footer-buttons">
            <div class="footer-padding">
                <button type="submit" name="submit" class="uk-button uk-button-primary uk-icon uk-align-right uk-margin-remove-bottom"><span uk-icon="icon: check; "></span> Publish</button>
            </div>
        </div>
    </form>
</div>
<!--end update form-->

<script>
    $(document).ready(function(){
        $("#file-input-button").click(function() {
            $("#file-input").trigger('click');
        });
        $("#file-input").cropzee();
    });

    $("#search").keyup(function () {
        var value = this.value.toLowerCase().trim();

        $("table").find("tr").each(function (index) {
            if (!index) return;
            var id = $(this).find("td").first().text();
            id = id.toLowerCase().trim();
            $(this).toggle(id.indexOf(value) !== -1);
        });
    });

    function selectStatus(obj) {
        $(obj).siblings().removeClass("uk-active");
        var text = $(obj).find("a").text();
        $(obj).addClass("uk-active");
        $("#selected-articles-status").text(text);
    }

    $(document).ready(function () {
        $("[data-unlink]").click(function (e) {
            e.preventDefault();
        });
    });

    function addSocial(obj) {
        console.log($(obj).closest('p'));
        var $social = $(obj).closest('p').prev('div').first().clone();
        // alert(JSON.stringify($social));
        $(obj).closest('p').prev('div').first().after($social);

    }

    $(document).ready(function () {
        retrieveExecutive();
    });

    $('#executive_form_edit').on('submit', function (e) {
        e.preventDefault();


        var usernames = document.getElementsByName("user_name");
        var vals=[];
        for (var i=0, n=usernames.length;i<n;i++) {
            vals.push(usernames[i].value);
        }

        var platform = document.getElementsByName("platform");
        var val=[];
        for (var i=0, n=platform.length;i<n;i++) {
            val.push(platform[i].value);
        }

        document.getElementById('platform').value = val;
        document.getElementById('user_name').value = vals;

        editExecutive(this);

    });

</script>