<style>
	
</style>
<div class="uk-cover-container">
    <canvas width="" height="420"></canvas>
    <div class="uk-position-bottom uk-padding-small uk-text-left uk-light" style="z-index:1; width:100%;">
    	<h2 class="uk-h2 uk-margin-small">Careers</h2>
    </div>
    <img src="../img/bfa22.jpg" alt="" uk-cover>
</div>

<div class="uk-section uk-section-muted">
	<div class="uk-container">
		    <div id="jobs">
		    	<div>
			        <div class="uk-card uk-card-default uk-card-body">
			            <div class="uk-child-width-1-2@m" uk-grid>
			            	<div class="uk-position-relative">
					            <div class="uk-height-medium border-rounded uk-cover-container">
					            	<img src="img/bfa24.jpg" class="" uk-cover>
					            </div>
					        </div>
				            <div>
					            <h3 class="uk-h3 uk-card-title">Jobs</h3>
					            <p>
					            	A gift on christmas is a reminder of love and love is the basic ingredient and the essence of every package we wrap up for every child to open. As we preach love to the children we first show them through loving acts and Chritmas gifts have proven to be one of the best ways to do so. As B.F.A we offer gift packs on Christmas for every child we have registered under the organization as a way of attending to their needs in a loving manner and in an epic season to do so.
					            </p>
					            <a class="uk-button uk-button-primary">Work With Us</a>
					        </div>
			            </div>
			        </div>
		    </div>
		</div>
	</div>
</div>

<div class="uk-section-default" data-overlay="5">
    <div class="uk-section uk-light uk-background-cover uk-height-large" style="background-image: url('../img/bfa23.jpg'); background-attachment: fixed;">
        <div class="uk-container uk-position-relative uk-position-z-index">
            <div class="">
                <h1 class="uk-h1 uk-text-bold uk-margin-small">Make</h1>
                <h1 class="uk-h1 uk-text-bold uk-margin-small">It A</h1>
                <h1 class="uk-h1 uk-text-bold uk-margin-small">Better</h1>
                <h1 class="uk-h1 uk-text-bold uk-margin-small">Place</h1>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-muted">
	<div class="uk-container">
		    <div id="internship">
		    	<div>
			        <div class="uk-card uk-card-default uk-card-body">
			            <div class="uk-child-width-1-2@m" uk-grid>
			            	<div class="uk-position-relative">
					            <div class="uk-height-medium border-rounded uk-cover-container">
					            	<img src="img/bfa25.jpg" class="" uk-cover>
					            </div>
					        </div>
				            <div>
					            <h3 class="uk-h3 uk-card-title">Internship</h3>
					            <p>
					            	A gift on christmas is a reminder of love and love is the basic ingredient and the essence of every package we wrap up for every child to open. As we preach love to the children we first show them through loving acts and Chritmas gifts have proven to be one of the best ways to do so. As B.F.A we offer gift packs on Christmas for every child we have registered under the organization as a way of attending to their needs in a loving manner and in an epic season to do so.
					            </p>
					            <a class="uk-button uk-button-primary">Intern For Us</a>
					        </div>
			            </div>
			        </div>
		    </div>
		</div>
	</div>
</div>

<div class="uk-section uk-section-muted uk-padding-remove-top">
	<div class="uk-container">
		    <div id="volunteering">
		    	<div>
			        <div class="uk-card uk-card-default uk-card-body">
			            <div class="uk-child-width-1-2@m" uk-grid>
			            	<div class="uk-position-relative">
					            <div class="uk-height-medium border-rounded uk-cover-container">
					            	<img src="img/bfa9.jpg" class="" uk-cover>
					            </div>
					        </div>
				            <div>
					            <h3 class="uk-h3 uk-card-title">Volunteering</h3>
					            <p>
					            	A gift on christmas is a reminder of love and love is the basic ingredient and the essence of every package we wrap up for every child to open. As we preach love to the children we first show them through loving acts and Chritmas gifts have proven to be one of the best ways to do so. As B.F.A we offer gift packs on Christmas for every child we have registered under the organization as a way of attending to their needs in a loving manner and in an epic season to do so.
					            </p>
					            <a class="uk-button uk-button-primary">Volunteer For Us</a>
					        </div>
			            </div>
			        </div>
		    </div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
		if (target) {
			UIkit.scroll('#content', {offset: 100}).scrollTo('#' + target);
		}
		$("*").click(function (event) {
            var target = $(event.target);
            if (!target.is("a")) {
                // alert( event.isDefaultPrevented() );
                event.preventDefault();
            }
        });
	});
</script>