<style>
	
</style>
<div class="uk-cover-container">
    <canvas width="" height="420"></canvas>
    <div class="uk-position-bottom uk-padding-small uk-text-left uk-light" style="z-index:1; width:100%;">
    	<h2 class="uk-h2 uk-margin-small">BFA Programmes</h2>
    </div>
    <img src="../img/bfa1.jpg" alt="" uk-cover>
</div>

<div id="">
	<div id="outreach" class="uk-section uk-section-default">
		<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
		    <div class="uk-padding-large uk-padding-remove-vertical">
		    	<h3 class="uk-h3 uk-text-bold">Outreach</h3>
			    <p class="uk-margin-remove-top">
			    	We occasionally take time to visit children at their homes as a way of sharing and spreading love and in doing so we encourage parents and guardians to let their children take part on our Saturday program which usually takeplace at the school grounds of Cornerstone Leadership Academy every Saturday. Through these outreaches we are able to examine the impact of our works based on the feedback we get from the community. We normally carry out these outreaches from around 8:00 am to 6:30pm so that we can have ample time to have conversations as well as fun time with the community and particularly the children as we visit them. In these outreaches the members of the organization are part and parcel therefore, we usually go in big numbers from around fifty people or more.
			    	<br>
			    	<br>
					Some villages that we have been visiting are Lengijave, Lemanyatta, Lenjani, Olmotonyi, Mukulat, Mwandet, Oltrumet as well as the schools in those areas.
			    </p>
		    </div>
		    <div class="uk-padding-large uk-padding-remove-vertical uk-cover-container border-rounded">
			    <img data-src="img/bfa1.jpg" uk-img uk-cover>
			</div>
			<div class="uk-width-1-1 uk-padding-large uk-padding-remove-vertical">
				<p>
					Besides reaching out to communities we also take time to do works of charity by directly reaching out to needy children and offering them some of their basic needs. In doing so we visit orphanage centers and children wards in hospitals whereas we bring them gift packs with things like food, clothes, soaps as well as medical needs. We do this in various regions under the supervision of our regional offices trustees.
				</p>
			</div>
		</div>
	</div>
	<div id="saturday" class="uk-section uk-section-default uk-container uk-padding-remove-top">
		<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
		    <div class="uk-padding-large uk-padding-remove-vertical">
		    	<h3 class="uk-h3 uk-text-bold">Saturday</h3>
			    <p class="uk-margin-remove-top">
			    	This is a program which we conduct every Saturday whereby children come together to learn, play and be inspired. We teach them Leadership and character development, personal hygiene alongside academic subjects such as Mathematics and English. We also take time to talk to them, hear what they have to say and to know what challenges they face especially the girls. In our conversations we remind them of their worth and value, we encourage them to believe in themselves and we also inspire them to reach out to their dreams and be their very best. We finally get to play with them exchange smiles and create deeper bonds.
			    </p>
		    </div>
		    <div class="uk-padding-large height-min-medium uk-padding-remove-vertical uk-cover-container border-rounded">
			    <img data-src="img/bfa5.jpg" uk-img uk-cover>
			</div>
		</div>
	</div>
</div>

<div class="uk-section uk-section-muted">
	<div class="uk-container">
		<div class="uk-grid-small uk-grid-match" uk-grid>
		    <div id="xmas">
		    	<div>
			        <div class="uk-card uk-card-default uk-card-body">
			            <h3 class="uk-h3 uk-card-title">Christmas Gifts</h3>
			            <p>
			            	A gift on christmas is a reminder of love and love is the basic ingredient and the essence of every package we wrap up for every child to open. As we preach love to the children we first show them through loving acts and Chritmas gifts have proven to be one of the best ways to do so. As B.F.A we offer gift packs on Christmas for every child we have registered under the organization as a way of attending to their needs in a loving manner and in an epic season to do so.
			            </p>
			        </div>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div class="uk-section-default" data-overlay="6">
    <div id="girlchapter" class="uk-section uk-light uk-background-cover" style="background-image: url('../img/bfa7.jpg')">
        <div class="uk-container uk-position-relative uk-position-z-index">
            <h3 class="uk-h3 uk-text-bold">Girl Chapter</h3>
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gathering" class="uk-section uk-section-default uk-container">
	<div class="uk-child-width-1-2@m" uk-grid>
		<div class="">
		    <h3 class="uk-h3 uk-text-bold">General Gathering</h3>
			<p class="uk-margin-remove-top">
				This is a once in a year event which usually takes place in September whereas all members and stakeholders across the country come together to discuss matters pertaining to the organization and its works. In this gathering reports are presented, elections are done and other matters related to the vision of the organization are discussed.
			</p>
		</div>
		<div class="uk-padding-large uk-padding-remove-vertical uk-cover-container border-rounded height-min-medium">
			<img data-src="img/bfa8.jpg" uk-img uk-cover>
		</div>
	</div>
</div>

<div class="uk-section uk-section-muted">
	<div class="uk-container">
		<div class="uk-grid-small uk-grid-match" uk-grid>
		    <div id="fellowship">
		    	<div>
			        <div class="uk-card uk-card-default uk-card-body">
			            <h3 class="uk-h3 uk-card-title">Fellowship</h3>
			            <p>
			            	These are smaller gatherings where members in their respective regions meet up to discuss on important issues related to the organization and its operation in a particular region.
							We have had fellowships in Dodoma, Arusha, Morogoro and Dar es Salaam.
			            </p>
			        </div>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		if (target) {
			UIkit.scroll('#content', {offset: 100}).scrollTo('#' + target);
		}
	});
</script>